/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* ----------------------- common style ------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.hide {
    display: none;
}

/* ---------------------------- Header Section style start-------------------------*/
.header {
    background-color: #562EFF;
    color: #fff;
}

.logo_menu {
    display: flex;
    justify-content: space-between;
    width: 870px;
    align-items: center;
    margin: 0 auto;
    padding: 18px 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px
}

.logo img {
    width: 40px;
}

.logo span {
    font-size: 24px;
    font-weight: 500;
}

.menu {}

.menu ul {
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu ul li {}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

/* ---------------------------- Header Section style End-------------------------*/

/* ---------------------------- top players style -------------------------*/
.top_player_container {
    background-color: #fff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
}

.top_players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 30px;
}

.section_title {
    color: #562EFF;
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-top: 3px;
}

.player {
    display: flex;
    align-items: center;
    gap: 16px;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h3 {
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* -------------------------- top blogs  style -------------------------------*/

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
}

.blog {
    display: flex;
}

.blog .thambnil img {
    width: 177px;
    height: 117px;
}

.blog_details {
    margin-left: 16px;
}

.blog_title {
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
}

.blog_author {
    font-size: 1rem;
    color: #562EFF;
    line-height: 24px;
}

.blog_author a {
    font-size: 1rem;
    color: #9F9F9F;
    text-decoration: none;
}

/*---------------------- Course Section Style -------------------*/

.course {
    background-color: #fff;
    margin-top: 21px;
    padding: 30px;
    border-radius: 5px;
}

.all_course {
    display: flex;
    gap: 22px;
}

.course .section_title {
    margin-bottom: 17px;
}

.course_item {
    padding: 13px 11px;
    width: 252px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
}

.course_item img {
    width: 224px;
}

.course_title {
    margin-top: 15px;
    margin-bottom: 12px;
}

.course_author {
    color: #ED6B4F;
    font-size: 15px;
}

.ratting {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.ratting span {
    color: #AEAEAE;
}

.ratting .count_time {
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 10px 12px;
    border-radius: 30px;
}

/* --------------------- Style For media Screen 576px------------------------ */
@media screen and (max-width: 576px) {

    /* ------------Header Section Style Start------------------- */
    .logo_menu {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .logo {
        padding: 20px;
    }

    .menu {
        width: 100%;
        background-color: #fff;
        padding: 15px;
        border-radius: 5px;
    }

    .menu ul {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
        padding: 10px;
    }

    .menu ul li {
        width: 100%;
        padding: 7px;
        border-radius: 5px;
    }

    .menu ul li a {
        color: #562EFF;
    }

    .menu ul li:hover {
        background-color: #562EFF;
    }

    .menu ul li:hover a {
        color: #fff;
    }

    .menu ul li:last-child:hover {
        background-color: transparent;
    }

    /* ------------Header Section Style end------------------- */

    /* ------------Top Player Section Style Start------------------- */

    .top_player_container {
        width: 100%;
        padding: 0px;
    }

    .section_title {
        color: #562EFF;
        font-size: 1rem;
        margin: 10px 0px;
        text-align: center;
    }

    .top_players {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 5px;
        margin-bottom: 10px;
        padding:30px;
    }

    .player {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        color: #562EFF;
    }
    .player:hover {
        display: flex;
        padding: 10px;
        border-radius: 5px;
        background-color: #562EFF;
        color: #fff;
    }

    .player h3 {
        font-size: .8rem;
    }

    /* ------------Top Player Section Style End------------------- */
    /* ------------Top Blog Section Style Start------------------- */
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        padding: 20px 40px;
    }

    .blog {
        align-items: center;
        gap: 10px;
    }

    .blog_title {
        font-size: .8rem;
        line-height: 20px;
        font-weight: 400;
    }

    .blog .thambnil {
        flex-basis: 70%;
    }
    .blog .thambnil img {
        width: 100%;
        height: 50%;
    }

    .blog_details {
        margin-left: 5px;
    }

    .blog_author {
        font-size: .8rem;
        line-height: 20px;
        margin-top: 15px;
    }

    /* ------------Top Blog Section Style End------------------- */
    /* ------------Course Section Style Start------------------- */
    .course {
        /* background-color: #562EFF; */
        margin-top: 15px;
        padding: 0px;
        width: 100%;
    }

    .all_course {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .section_title {
        color: #fff;
        background-color: #562EFF;
        padding: 10px;
        border-radius: 10px 10px 0px 0px;
    }

    .course_item {
        padding: 15px 40px;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.2);
    }

    .course_item img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .course_title {
        font-size: 1rem;
        text-align: center;
    }
    .star {
        font-size: .6rem;
    }

    .ratting .count_time {
        padding: 7px 10px;
        border-radius: 25px;
    }
    /* ------------Course Section Style end------------------- */
}